<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Customers</title>
</head>
<body>
<h1>Customer List</h1>
<ul>
  <li th:each="customer : ${customers}">
    Name: <span th:text="${customer.name}"></span><br>
    Email: <span th:text="${customer.email}"></span><br>
    Address: <span th:text="${customer.address}"></span><br>
    Phone: <span th:text="${customer.phone}"></span><br>
    Balance: <span th:text="${customer.balance}"></span><br>
  </li>
  <br/>
</ul>
</body>
</html>